.promo-container {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    cursor: grab;
  }
  
  .promo-item {
    min-width: 150px;
    margin-right: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-align: center;
  }
  
  .promo-container::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn cho trải nghiệm mượt mà */
  }